verdeclaro=#04a764
azulclaro=#0073e8
verdeoscuro=#03978d
azuloscuro=#0186b8
fuente=#3D4043
@import "classes.styl"
body
	font-family "open sans",Arial,Sans Serif
::selection
	background orange
	text-shadow none
	color white

.curso_header,
.curso_pais,
.paises
	max-width 1000px
	margin 0 auto

.curso_header
	margin 0 auto
	height 500px
	position relative
	overflow hidden
	h2
		display:inline-block
		font-size: 50px
		font-weight: normal
		line-height: 50px
		margin-top: 5px
		transition: .3s
	img
		position absolute
		z-index 1
	p
		font-size 20px
		margin-top 20px
		text-transform uppercase
		span
			font-weight bold
	.datos
		margin-right 25px
		text-align right
		top 180px
		position relative
		z-index 4
.curso_pais
	background white
.foto
	border 5px solid #0172ea
	margin-top 10px
	max-height 385px
	overflow hidden
	position relative
	img
		height auto
		position relative
		width 100%
		z-index 2
	h4
		//letter-spacing 3px
		background #0073e8
		font-size 18px
		font-weight normal
		line-height 15px
		padding 15px 30px 5px 50px
		text-transform uppercase		
	h4:after
		display block
		content "/"
		font-size 40px
		font-weight bold
		position relative
		right -25px
		top -13px
	h5
		color fuente
		padding 5px
		text-transform uppercase
		font-size 10px
		font-weight bold
	.datos
		background white
		position absolute
		text-align right
		right 0
		top 10px
		z-index 3	
		img
			width auto
			position absolute
			top 6px
			left 10px


.testimonios
	color #3D4043
	margin-top -80px
	position relative
	text-align center
	font-family Arial
	z-index 5
	.patron
		background url("../images/post/pattern_participantes_post.png")
		height: 110px
		position: absolute
		top: 80px
		width: 100%
		z-index: 1
	.testimonio
		background white
		display inline-block
		padding 15px
		position relative
		text-align left
		vertical-align top
		width 265px
		z-index 2
		
		h3
			font-size 15px
			text-transform lowercase
			letter-spacing .5px
		h4
			font-weight normal
		.img
		.texto 
			display inline-block
		.texto
			margin-left 10px
			position relative
			top -10px
		.img img
			width 55px
			height auto
		.tweet
			height 76px
			margin 10px 0
			p a
				color #3D4043
				font-size 15px
	.testimonio:nth-child(2)
		margin 0 30px
.pais
	background white
	color #3D4043
	font-weight normal
	padding 50px 10px 8px 10px
	.derecha
		display inline-block
		margin-left 10px
	h3,h4
		font-weight normal
		text-transform uppercase
	h3:after
		font-weight bold
		display inline-block
		content "/"
		margin-left 5px
	h4
		font-size 10px
		font-weight bold
		letter-spacing 3px
		position relative
		top -5px

.paises
	position relative
	text-align center
	top -50px
	background white
	margin-bottom -50px
	.pais_b
		color fuente
		display inline-block
		margin 0 20px
		position relative
		z-index 5
		.bandera
			border 5px solid white
			border-radius 50%
			height 80px
			transition .3s
			width 80px
			img
				border-radius 50%
				height 80px
				width 80px
			&:hover
				transform scale(1.1)
	p
		text-transform uppercase
		margin-top 5px
.tela
	background rgba(0,0,0,.5)
	height 100%
	position absolute
	z-index 2
	width 1000px
@media screen and (max-width:960px)
	.testimonios .testimonio
		width 40%
	.testimonios .testimonio:nth-child(3)
		width 90%
	.testimonios .testimonio .tweet
		height auto
@media screen and (max-width:480px)
	.curso_header .datos 
		top 100px
	.pais
		padding 10px
		img
			position absolute
			width 70px
		.derecha
			position relative
			text-align right
			width 100%
			margin-left 0
	.foto h4
		letter-spacing 2px
@media screen and (max-width:650px)
	.foto 
		.datos
			font-size 13px
			position static
		h4
			padding 15px
		h5
			padding-right 15px
	.foto h4:after
		display none
	.pais h3:after
		display none
	.paises .pais_b 
		margin 0 2px
	.testimonios
		margin-top 0
		.testimonio
			width 90%
		.testimonio:nth-child(2)
			margin 0

@media screen and (max-width:800px)
	.curso_header
		height 350px
		.datos
			margin-right 0
			text-align center
		h2
			font-size 35px
			line-height 35px
