verdeclaro=#04a764
azulclaro=#0073e8
verdeoscuro=#03978d
azuloscuro=#0186b8
@import "classes.styl"
body
	font-family "open sans",Arial,Sans Serif
::selection
	background orange
	text-shadow none
	color white

.curso_header,
.curso_pais
	max-width 1000px
	margin 0 auto
.curso_header
	margin 0 auto
	height 500px
	position relative
	overflow hidden
	h2
		display:inline-block
		font-size: 80px
		font-weight: normal
		line-height: 70px
		margin-top: 5px
		transition: .3s
		text-shadow 2px 2px 0 black
	img
		position absolute
		z-index 1
	p
		font-size 20px
		margin-top 20px
		text-transform uppercase
		span
			font-weight bold
	.datos
		margin-right 25px
		text-align right
		top 150px
		position relative
		z-index 4
.curso_pais
	background white
.foto
	border 5px solid #0172ea
	max-height 385px
	overflow hidden
	position relative
	img
		height auto
		position relative
		width 100%
		z-index 2
	h4
		background #0073e8
		font-weight normal
		letter-spacing 3px
		line-height 20px
		min-height 35px
		padding 10px 15px
		position absolute
		right 0
		text-align right
		text-transform uppercase
		top 10px
		z-index 3
		span
			font-size 50px
			font-weight bold
			position relative
			right -10px
			top 10px
.testimonios
	color #3D4043
	margin-top -80px
	position relative
	text-align center
	z-index 5
	.testimonio
		background white
		display inline-block
		padding 15px
		text-align left
		vertical-align top
		width 265px
		.img
		.texto 
			display inline-block
		.texto
			margin-left 10px
			position relative
			top -10px
		h3
			font-size 15px
			text-transform lowercase
			letter-spacing .5px
		h4
			font-weight normal
		.img img
			width 55px
			height auto
		.tweet
			margin 20px 0
			p a
				color #3D4043
				font-size 15px

		.curso
			background #04a764 url("../images/exalumnos/esquinita.png") no-repeat center top
			padding 5px
	.testimonio:nth-child(2)
		margin 0 30px
.pais
	background white
	color #3D4043
	font-weight normal
	padding 50px 10px 8px 10px
	.derecha
		display inline-block
		margin-left 10px
	h3,h4
		font-weight normal
		text-transform uppercase
		span
			font-weight bold
	h4
		font-size 10px
		font-weight bold
		letter-spacing 3px
		position relative
		top -5px

	
.tela
	background rgba(0,0,0,.5)
	height 100%
	position absolute
	z-index 2
	width 1000px
@media screen and (max-width:960px)
	.testimonios .testimonio
		width 40%
	.testimonios .testimonio:nth-child(3)
		width 90%
@media screen and (max-width:480px)
	.pais
		padding 10px
		img
			position absolute
			width 70px
		.derecha
			position relative
			text-align right
			width 100%
			margin-left 0
	.foto h4
		letter-spacing 2px
@media screen and (max-width:650px)
	.testimonios .testimonio
		width 90%
	.testimonios .testimonio:nth-child(2)
		margin 0
@media screen and (max-width:800px)
	.curso_header
		height 350px
		.datos
			text-align center
		h2
			font-size 35px
			line-height 35px
