// webfonts
@css {
@font-face {
	font-family: 'open sans';
	src: url("../fonts/opensans-light-webfont.eot");
	src: url("../fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-light-webfont.woff") format('woff'), url("../fonts/opensans-light-webfont.ttf") format('truetype'), url("../fonts/opensans-light-webfont.svg#OpenSansLight") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open sans';
	src: url("../fonts/opensans-bold-webfont.eot");
	src: url("../fonts/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-bold-webfont.woff") format('woff'), url("../fonts/opensans-bold-webfont.ttf") format('truetype'), url("../fonts/opensans-bold-webfont.svg#OpenSansBold") format('svg');
	font-weight: bold;
	font-style: normal;
}
}


// nib framework + custom mixins & classes
@import "classes.styl"


// variables
font_opensans = 'open sans', sans-serif


// global tags
body
	background #fff url("../images/live/cinta_1920.jpg") repeat-y fixed
	font-family font_opensans
	margin 0
	padding 0

footer
	bottom 0
	color #3D4043
	left 0
	position absolute
	width 100%

	.izquierda
		@extends .clearfix
		background url("../images/live/footer.png") no-repeat right top
		height 68px
		left 0
		position absolute
		text-transform uppercase
		top 0
		width 280px

		span
			display block

			&:first-child
				font-size 20px
				letter-spacing -1px

				+ span
					font-size 12px
					font-weight bold

		.text
			padding 15px 0 0 35px

	.derecha
		box-sizing border-box
		font-size 25px
		font-weight bold
		padding-left 280px
		line-height 68px
		text-align center
		width 100%
		max-width 1280px

		&
		a
			color #fff

		a
		span
			margin 0 3%

header
	border-top 7px solid #fff
	// margin-bottom 25px
	position relative
	width auto

	&:before
		background url("../images/logos/adorno-logo.png") no-repeat 65% 0
		content " "
		height 35px
		left 50% + 10
		margin-left 103px
		position absolute
		width 31px

	h1
		margin 0

	img
		vertical-align bottom

html
	margin 0

input.text-field
	background #003e73
	border 1px solid #409fd6
	border-left 0
	color #fff
	float left
	font 13px/30px font_opensans
	height 30px
	margin 0
	padding 0 5px
	position absolute
	right 0
	top 0

	&:focus
		outline 0

// classnames
.btn_facebook iframe
	width 44px !important


// ids
#col1
	bottom 0
	left 0
	position absolute
	top 0
	width 60%

#col2
	bottom 0
	right 0
	position absolute
	top 0
	width 35%

	iframe
		height 100%
		width 100%

#cristalab
#maestros
	// descomenta esto para posicionar los logos verticalmente
	// margin-top -(28px/2 + 10)
	// top 50%
	position absolute
	top 10px

	img
		height 28px

#contenido
	bottom 68px + 40
	left 7.5%
	position absolute
	top 113px + 25
	width 85%

#cristalab
	left 70%
	margin-left 103px

#email-container
#name-container
	@extends .clearfix
	margin 0 0 15px
	position relative

#email-container
	input
		left 50px + 50

	.txt
		width 50px

#fila2
	bottom 0
	left 0
	height 200px - 25
	position absolute
	width 100%

#formulario
	@extends .clearfix
	font-size 13px
	font-weight bold
	text-transform uppercase
	position absolute
	top 0
	left 0
	right 333px + 50

	.tit
		color #fff
		clear both
		display block
		margin-bottom 15px

	.txt
		background url("../images/live/label_input.png") no-repeat right
		color #535456
		float left
		clear left
		height 32px
		line-height 32px
		padding 0 35px 0 15px

#inscribete-btn
	background url("../images/live/button.png") no-repeat !important
	border 0
	display block
	clear both
	color #fff
	float right
	font bold 13px font_opensans
	height 31px
	line-height 31px
	padding 0 0 0 18px
	text-transform uppercase
	width 158px

#maestros
	left 50%

#name-container
	input
		left 70px + 50

	.txt
		width 70px

#social
	float right

	> div
		background rgba(#000, 0.3)
		border-radius()
		float left
		height 62px
		margin 0 0 0 10px
		padding 10px

		&:first-child
			margin 0

#video
	border 6px solid #338ed3
	border-radius()
	bottom 200px
	left -6px
	position absolute
	top 0
	width 100%

	script
		@extends .hidden

	*
		@extends #col2 iframe