verdeclaro=#04a764
azulclaro=#0073e8
verdeoscuro=#03978d
azuloscuro=#0186b8
fuente=#3D4043
::selection 
	background orange
	text-shadow none
	color white
body
	background #1298b3
header 
	height auto

nav ul
	float right
#cursos_bottom
.curso_fright
	position relative
	font-size 0
	img
		box-shadow 10px 10px 0 #167589
	img
	.content
		background white
		color fuente
		display inline-block
		vertical-align top
		
	.content
		bottom 90px
		font-size 16px
		height 150px
		padding 20px
		position relative
		top 20px
		width 510px
		h2
			font-size 30px
			font-weight bold
			line-height 25px
			margin-top 20px
			text-transform uppercase
		hr
			background yellow
			border none
			height 8px
			margin 10px 0
		.datos
			width 70%
		.fecha
			font-size 15px
			font-weight normal
			letter-spacing 5px 
#cursos_top
	font-size 0
	margin-bottom 50px !important
	min-height 465px
	position relative
	.content_left
		display inline-block
		max-width 670px
		vertical-align top
	.content_right
		display inline-block
		width 320px

#cursos_p
#cursos_top
#cursos_bottom
	margin 0 auto
	max-width 1000px
.curso_big
	display inline-block
	max-width 670px
	position relative
	img
		max-height 465px
		max-width 670px
	h2
		color white
		font-size 65px
		font-weight bold
		left 20px 
		line-height 60px
		position absolute
		text-shadow 1px 1px rgba(0, 0, 0, 0.70)
		text-transform uppercase
		top 55px
		word-break break-word
.curso_fright
	margin-bottom 20px
	.content
		text-align right
		.datos
			padding-left 30%

.curso_fleft
	margin-bottom 20px
	.content
		text-align left
		.datos
			padding-left 0
	
.curso_letter
	background white
	box-shadow 10px 10px 0 #167589
	color fuente
	display block
	margin-bottom 20px
	max-width 280px
	min-height 180px
	padding 20px
	p
		font-family Arial
		font-size 16px
		line-height 18px
	h2,a
		color fuente
		font-size 20px
		font-weight bold
		margin 0 0 10px 0
		text-transform uppercase
	.fecha
		font-size 15px
.slide1
.slide2
.slide3
	position absolute
.slide1
	z-index 3
.slide2
	z-index 2
.slide3
	z-index 1
.slide2 .content_right
	vertical-align top
.slide3 .content_right
	vertical-align bottom

@media screen and (max-width:1000px)
	#cursos_top
		.content_left
			position relative
			left 0
			width 63%
		.content_right
			display inline-block
			width 36%
	.curso_letter
		padding 5%
		max-width 90%
	.curso_big
		width 100%
		overflow hidden
@media screen and (max-width:670px)
	#cursos_top
		.content_left 
			display block
			width 100%
		.content_right
			display block
			position relative
			text-align center
			width 100%
	.curso_letter
		display inline-block
		padding 3%
		text-align left
		width 40%
	.curso_letter:nth-child(1)
		margin-right 2%
@media screen and (max-width:480px)
	.curso_letter
		width 100%
	

	
