{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="es_ES">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Mejorando.la | un show en vivo de gente que crea Internet, todos los jueves a las 4pm GMT-5{% endblock %}</title>
    
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}images/favicon.ico" />

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{% url feed %}" />

    <meta property="fb:page_id" content="198868566791554" />
    <meta property="og:title" content="{% block title %}Mejorando.la{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://mejorando.la/"/>
    <meta property="og:image" content="http://mejorando.la/images/isotipo.png" />
    <meta property="og:site_name" content="mejorando.la" />
    <meta property="fb:admins" content="1030603473" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>

    <script src="https://apis.google.com/js/plusone.js"></script>
    <script src="{{ STATIC_PREFIX }}js/index.js?f=27032012"></script>
    <script src="{{ STATIC_PREFIX }}js/css_browser_selector.js"></script>

    {% block head %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!--[if (gte IE 6)&(lte IE 8)]>
    <script src="{{ STATIC_PREFIX }}js/selectivizr-min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/respond.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="[fallback css]">
    </noscript><![endif]-->

    <script>
     var analyticsFileTypes = [''];
     var analyticsEventTracking = 'enabled';
    </script>
    <script>
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-76863-8']);
     _gaq.push(['_trackPageview']);

     (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
  </head>
  <body>
    <div id="wrapper">
      {% block letrero %}{% endblock %}
      <header>
        <div>
          <h1><a href="{% url website.views.home %}" title="mejorando.la"><img src="{{ STATIC_PREFIX }}images/logos/mejorandola.png" alt="mejorando.la"></a>
          </h1><a id="maestros" href="http://maestrosdelweb.com" target="_blank" title="maestros del web"><img src="{{ STATIC_PREFIX }}images/logos/maestros.png" alt="maestros del web"></a><a id="cristalab" href="http://cristalab.com" target="_blank" title="cristalab"><img src="{{ STATIC_PREFIX }}images/logos/cristalab.png" alt="cristalab"></a>
        </div>
      </header>

      {% block body %}{% endblock %}

    </div>
    <footer>
      <div class="izquierda">
        <div class="text"><span>transmisión en vivo</span><span>cada jueves</span>
        </div>
      </div>
      <div class="derecha"><span>con</span><a href="http://twitter.com/freddier" title="@freddier" target="_blank">@freddier</a><span>+</span><a href="http://twitter.com/cvander" title="@cvander" target="_blank">@cvander</a>
      </div>
    </footer>
  </body>
</html>