body {
  background: #3c4043;
  box-shadow: 0 0 150px rgba(0,0,0,0.80) inset;
}
footer {
  width: 100%;
}
footer .derecha a {
  margin: 0 20%;
}
header div {
  width: 100%;
}
#archivo {
  position: relative;
  float: right;
  text-align: right;
}
#anteriores {
  background: none;
  margin-bottom: 160px;
  text-align: center;
}
#anteriores .fila1 {
  margin-right: 30px;
  margin-left: 590px;
  display: block;
}
#anteriores .fila2 {
  display: block;
  margin-left: 315px;
}
#anteriores .fila3 {
  float: right;
}
#anteriores .art1 {
  margin-right: 30px;
}
#anteriores .art2 {
  margin-left: 30px;
  margin-right: 60px;
}
#anteriores .capitulo {
  height: 156px;
  width: 480px;
}
#anteriores .capitulo .block {
  margin-top: 5px;
}
#anteriores .capitulo .cintaver {
  background: url("../images/archivo/deco_video.png");
  display: inline-block;
  height: 156px;
  width: 19px;
}
#anteriores .capitulo h2 {
  font-size: 20px;
}
#anteriores .capitulo img {
  height: 156px;
  width: 214px;
}
#anteriores .capitulo a {
  height: 156px;
  width: 214px;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}
#anteriores .capitulo .desc {
  background: none;
  color: #989ba0;
  display: inline-block;
  *display: inline;
  font-size: 14px;
  margin: 0 15px 55px 0;
  text-align: right;
  text-transform: lowercase;
  vertical-align: bottom;
  width: 220px;
  zoom: 1;
}
#anteriores .capitulo .texto {
  padding: 20px 5px 0 10px;
}
#cuerpo {
  background: none;
  padding-top: 180px;
  overflow: hidden;
}
.mes {
  background: url("../images/adorno-archivo.png") no-repeat right 0;
  margin-bottom: 25px;
}
.mes h5 {
  display: inline-block;
  font-size: 112px;
  height: 112px;
  margin-top: -15px;
  margin-right: 20px;
  text-align: right;
  text-transform: uppercase;
  font-weight: normal;
}
.mes span {
  font-size: 20px;
  letter-spacing: -2px;
  margin-right: 15px;
  margin-top: 20px;
  vertical-align: top;
}
