.ir{direction:ltr;display:block;height:100%;overflow:hidden;position:relative;text-align:left;text-indent:100%;white-space:nowrap;width:100%}
.hidden{display:none}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-khtml-user-select:none}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.clear{display:block;clear:both;zoom:1}
.nomargin{margin:0 !important}
body{font-family:"open sans",Arial,Sans Serif}
::selection{background:#ffa500;text-shadow:none;color:#fff}
.curso_header,.curso_pais,.paises{max-width:1000px;margin:0 auto}
.curso_header{margin:0 auto;height:500px;position:relative;overflow:hidden;}
.curso_header h2{display:inline-block;zoom:1;*display:inline;font-size:50px;font-weight:normal;line-height:50px;margin-top:5px;}
.curso_header img{position:absolute;z-index:1}
.curso_header p{font-size:20px;margin-top:20px;text-transform:uppercase;}
.curso_header p span{font-weight:bold}
.curso_header .datos{margin-right:25px;text-align:right;top:180px;position:relative;z-index:4}
.curso_pais{background:#fff}
.foto{border:5px solid #0172ea;margin-top:10px;max-height:385px;overflow:hidden;position:relative;}
.foto img{height:auto;position:relative;width:100%;z-index:2}
.foto h4{background:#0073e8;font-size:18px;font-weight:normal;line-height:15px;padding:15px 30px 5px 50px;text-transform:uppercase}
.foto h4:after{display:block;content:"/";font-size:40px;font-weight:bold;position:relative;right:-25px;top:-13px}
.foto h5{color:#3d4043;padding:5px;text-transform:uppercase;font-size:10px;font-weight:bold}
.foto .datos{background:#fff;position:absolute;text-align:right;right:0;top:10px;z-index:3;}
.foto .datos img{width:auto;position:absolute;top:6px;left:10px}
.testimonios{color:#3d4043;margin-top:-80px;position:relative;text-align:center;font-family:Arial;z-index:5;}
.testimonios .patron{background:url("../images/post/pattern_participantes_post.png");height:110px;position:absolute;top:80px;width:100%;z-index:1}
.testimonios .testimonio{background:#fff;display:inline-block;zoom:1;*display:inline;padding:15px;position:relative;text-align:left;vertical-align:top;width:265px;z-index:2;}
.testimonios .testimonio h3{font-size:15px;text-transform:lowercase;letter-spacing:.5px}
.testimonios .testimonio h4{font-weight:normal}
.testimonios .testimonio .img,.testimonios .testimonio .texto{display:inline-block;zoom:1;*display:inline}
.testimonios .testimonio .texto{margin-left:10px;position:relative;top:-10px}
.testimonios .testimonio .img img{width:55px;height:auto}
.testimonios .testimonio .tweet{height:76px;margin:10px 0;}
.testimonios .testimonio .tweet p a{color:#3d4043;font-size:15px}
.testimonios .testimonio:nth-child(2){margin:0 30px}
.pais{background:#fff;color:#3d4043;font-weight:normal;padding:50px 10px 8px 10px;}
.pais .derecha{display:inline-block;zoom:1;*display:inline;margin-left:10px}
.pais h3,.pais h4{font-weight:normal;text-transform:uppercase}
.pais h3:after{font-weight:bold;display:inline-block;zoom:1;*display:inline;content:"/";margin-left:5px}
.pais h4{font-size:10px;font-weight:bold;letter-spacing:3px;position:relative;top:-5px}
.paises{position:relative;text-align:center;top:-50px;background:#fff;margin-bottom:-50px;}
.paises .pais_b{color:#3d4043;display:inline-block;zoom:1;*display:inline;margin:0 20px;position:relative;z-index:5;}
.paises .pais_b .bandera{border:5px solid #fff;height:80px;width:80px;}
.paises .pais_b .bandera img{height:80px;width:80px}
.paises p{text-transform:uppercase;margin-top:5px}
.tela{background:rgba(0,0,0,0.50);height:100%;position:absolute;z-index:2;width:1000px}
@media screen and (max-width:960px){.testimonios .testimonio{width:40%}
.testimonios .testimonio:nth-child(3){width:90%}
.testimonios .testimonio .tweet{height:auto}
}@media screen and (max-width:480px){.curso_header .datos{top:100px}
.pais{padding:10px;}
.pais img{position:absolute;width:70px}
.pais .derecha{position:relative;text-align:right;width:100%;margin-left:0}
.foto h4{letter-spacing:2px}
}@media screen and (max-width:650px){.foto .datos{font-size:13px;position:static}
.foto h4{padding:15px}
.foto h5{padding-right:15px}
.foto h4:after{display:none}
.pais h3:after{display:none}
.paises .pais_b{margin:0 2px}
.testimonios{margin-top:0;}
.testimonios .testimonio{width:90%}
.testimonios .testimonio:nth-child(2){margin:0}
}@media screen and (max-width:800px){.curso_header{height:350px;}
.curso_header .datos{margin-right:0;text-align:center}
.curso_header h2{font-size:35px;line-height:35px}
}