html {
  margin: 0px;
  height: 100%;
}
body {
  background: #fff url("../images/live/cinta_1920.jpg") repeat-y;
  background-size: 100% 100%;
  box-shadow: 0 0 250px rgba(0,0,0,0.90) inset;
  position: relative;
  height: 100%;
}
.ie8 footer {
  display: none;
}
.opera footer .derecha a {
  margin: 0 15%;
}
footer {
  background: none;
  bottom: 0;
  color: #3d4043;
  display: block;
  height: 60px;
  padding-top: 0;
  position: absolute;
  width: 100%;
}
footer a {
  color: #fff;
}
footer .derecha {
  color: #fff;
  width: 60%;
}
footer .derecha a {
  margin: 0 17%;
}
footer .derecha .cvander {
  margin: 0 0 0 17%;
}
footer .izquierda {
  background: url("../images/live/footer.png") no-repeat right top;
  color: #3d4043;
  left: 0;
  max-width: 280px;
  position: relative;
  width: 25%;
}
footer .izquierda span:nth-child(1) {
  margin-top: 15px;
}
footer div {
  min-height: 60px;
}
header {
  display: block;
  width: 100%;
  z-index: 3;
}
header h1 {
  display: inline-block;
  min-width: 252px;
  width: 30%;
}
header h1 a img {
  width: 252px;
}
header #maestros {
  display: inline-block;
  margin-left: 15%;
  padding-top: 10px;
  position: relative;
  vertical-align: top;
  min-width: 100px;
}
header #maestros img {
  width: 101px;
}
header #cristalab {
  display: inline-block;
  margin-left: 20%;
  padding-top: 10px;
  position: relative;
  vertical-align: top;
  min-width: 100px;
}
header #cristalab img {
  width: 101px;
}
header .logo img {
  width: 258px;
  display: block;
}
header div {
  background: url("../images/logos/adorno-logo.png") no-repeat 65% top;
  width: 100%;
}
#col1,
#col2,
#mail,
#social {
  display: inline-block;
  vertical-align: top;
}
#contenido {
  margin: 0 auto;
  padding-top: 110px;
  width: 85%;
}
#contenido #col1 {
  width: 60%;
  margin-right: 2%;
  position: relative;
}
#contenido #col1 #contvideo {
  width: 100%;
}
#contenido #col1 #contvideo #video {
  border: 6px solid rgba(255,255,255,0.20);
  border-radius: 10px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#contenido #col1 #video	iframe,
#contenido #col1 #video object,
#contenido #col1 #video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#contenido #col1 #fila2 {
  clear: both;
  content: "";
}
#contenido #col1 #mail {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  text-transform: uppercase;
  width: 250px;
}
#contenido #col1 #mail input[type=text],
#contenido #col1 #mail input[type=email] {
  background: url("../images/live/form01.png") no-repeat left;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  height: 31px;
  outline: 0;
  padding-left: 20px;
  position: absolute;
  right: 0;
  top: 36px;
  width: 127px;
}
#contenido #col1 #mail input[type=email] {
  background: url("../images/live/form02.png") no-repeat left;
  font-size: 13px;
  top: 74px;
  width: 160px;
}
#contenido #col1 #mail input[type=submit] {
  background: url("../images/live/button.png") left;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  float: right;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  height: 31px;
  line-height: 31px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 145px;
}
#contenido #col1 #mail .txt {
  background: url("../images/live/label02.png") no-repeat right;
  color: #535456;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 33px;
  line-height: 33px;
  margin-bottom: 5px;
  padding-left: 5%;
  width: 71px;
}
#contenido #col1 #mail .txt:nth-child(2) {
  background: url("../images/live/label01.png") no-repeat right;
  width: 105px;
}
#contenido #col1 #mail .tit {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
}
#contenido #col1 #social {
  margin: 0;
  margin-top: 15px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: right;
  width: 380px;
  z-index: 2;
}
#contenido #col1 #social div {
  background: rgba(0,0,0,0.30);
  margin-left: 10px;
  padding: 7px 10px 5px 10px;
}
#contenido #col1 #social div:after {
  display: none;
}
#contenido #col1 #social div:nth-child(1) {
  margin-left: 0;
}
#contenido #col1 #social .btn_facebook {
  padding-bottom: 9px;
  width: 45px;
}
#contenido #col1 #social .btn_googlemas {
  padding-bottom: 7px;
  width: 48px;
}
#contenido #col1 #social .btn_facebook:after {
  margin-top: -25px;
  width: 65px;
}
#contenido #col2 {
  width: 35%;
  height: 100%;
}
#contenido #col2 .chat {
  background: #3d4043;
  width: 100%;
}
#contenido #col2 .chat iframe {
  min-height: 400px;
}
.webkit #col2 .chat iframe {
  height: 75% !important;
}
.ipad #contenido #col1 #mail input[type=text] {
  top: 34px;
  margin-right: -6px;
}
.ipad #contenido #col1 #mail input[type=email] {
  top: 72px;
  margin-right: -6px;
}
@media screen and (max-width:1200px) and (min-width:1025px) {
  #contenido #col1 {
    width: 60%;
    margin-right: 2%;
  }
  #contenido #col1 #contvideo {
    width: 75%;
    margin-right: 0;
  }
  #contenido #col1 #mail {
    margin-top: 0;
  }
  #contenido #col1 #social {
    width: 200px;
  }
  #contenido #col1 #social div:nth-child(3) {
    margin-left: -3px;
    margin-top: 10px;
    padding: 7px 17px;
  }
  #contenido #col1 #social div:nth-child(4) {
    margin-top: 10px;
    padding: 7px 20px;
    height: 62px;
  }
  #contenido #col2 {
    width: 35%;
  }
}
@media screen and (min-width:1500px) {
  #contenido #col1 #mail {
    width: 355px;
  }
  #contenido #col1 #mail input[type="text"],
  #contenido #col1 #mail input[type="email"] {
    width: 192px;
  }
  #contenido #col1 #mail input[type="email"] {
    width: 239px;
  }
  #contenido #col1 #mail .txt {
    padding-left: 20px;
    width: 87px;
  }
  #contenido #col1 #mail .txt:nth-child(2) {
    width: 135px;
  }
}
@media screen and (max-width:1024px) and (min-width:768px) {
  #contenido {
    width: 90%;
  }
  #contenido #col1 #mail {
    margin-left: 0;
    margin-top: 0;
    width: 230px;
  }
  #contenido #col1 #mail .txt {
    width: 51px;
  }
  #contenido #col1 #mail .txt:nth-child(2) {
    width: 85px;
  }
  #contenido #col1 #social {
    float: right;
    margin-top: 10px;
    position: absolute;
    width: 183px;
  }
  #contenido #col1 #social div:nth-child(3) {
    margin-left: -3px;
    margin-top: 10px;
    padding: 7px 17px;
  }
  #contenido #col1 #social div:nth-child(4) {
    margin-top: 10px;
    padding: 7px 20px;
  }
  .ipad #contenido #col1 #mail input[type=submit] {
    margin-right: -6px;
  }
  .ipad #contenido #col1 #social {
    position: relative;
    margin-left: 120px;
    float: none;
  }
}
@media screen and (min-height:769px) and (max-width:768px) {
  body {
    background: #fff url("../images/live/background.jpg") repeat-y;
  }
  footer .izquierda {
    width: 50%;
  }
  footer .derecha {
    width: 450px;
  }
  footer .derecha a {
    margin: 0 10%;
  }
  header h1 a img {
    height: auto;
    width: auto;
  }
  header div {
    background: url("../images/adorno-logo.png") no-repeat 550px top;
  }
  header #maestros img {
    width: auto;
  }
  header #cristalab {
    margin-left: 120px;
  }
  header #cristalab img {
    width: auto;
  }
  #contenido {
    width: 95%;
    padding-top: 160px;
  }
  #contenido #col1 {
    margin-right: 2%;
    width: 50%;
  }
  #contenido #col1 #mail {
    overflow: hidden;
    width: 355px;
  }
  #contenido #col1 #mail input[type="text"],
  #contenido #col1 #mail input[type="email"] {
    width: 192px;
  }
  #contenido #col1 #mail input[type="email"] {
    width: 239px;
  }
  #contenido #col1 #mail .txt {
    padding-left: 20px;
    width: 87px;
  }
  #contenido #col1 #mail .txt:nth-child(2) {
    width: 135px;
  }
  #contenido #col1 #social {
    display: block;
    float: none;
    margin: 0 auto;
    position: relative !important;
    top: 40px;
  }
  #contenido #col2 {
    width: 47%;
  }
}
.ipad #contenido #col1 #mail input[type=text] {
  top: 34px;
}
.ipad #contenido #col1 #mail input[type=email] {
  top: 72px;
}
@media screen and (max-height:767px) {
  footer {
    display: none;
  }
  header h1 a img {
    width: 150px;
  }
  #contenido {
    padding-top: 80px;
  }
  #contenido #col1 {
    width: 60%;
    margin-right: 2%;
  }
  #contenido #col1 #contvideo {
    width: 100%;
    margin-right: 2%;
  }
  #contenido #col1 #mail {
    margin-top: 0;
  }
  #contenido #col1 #social {
    margin-top: 10px;
  }
  #contenido #col2 {
    width: 37%;
  }
  #contenido #col2 iframe {
    height: 85%;
  }
}
@media screen and (max-width:767px) {
  body {
    onverflow-x: hidden;
    overflow-y: scroll;
  }
  header {
    display: none;
  }
  footer {
    display: none;
  }
  #contenido {
    width: 100%;
    padding-top: 0;
  }
  #contenido #col1 {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
  }
  #contenido #col1 #contvideo {
    width: 100%;
  }
  #contenido #col1 #mail {
    display: none;
  }
  #contenido #col1 #social {
    display: none;
  }
  #contenido #col2 {
    width: 100%;
  }
}
